{% extends "layouts/base.njk" %}


{% block nmContent %}
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quibusdam dolorum velit ratione ducimus sapiente nemo mollitia iusto, optio voluptas dolores expedita laboriosam tempora fuga atque illum. Iste, aliquam vitae?
</p>
  
{% endblock %}