{% extends "layouts/base.njk" %}


{% set pageTitle = "Homepage"%}
{% block nmHeader %}
<h2>I'm Header</h2>
  
{% endblock %}

{% block nmContent %}
    <!-- index section start  -->
    <section class="nm-section">
      <div class="container">
        <div class="card bg-primary text-center nm-mask mask-3">
          <div class="card-body py-36">
            <h2 class="text-white mb-10">Our Pages</h2>
            <p class="text-white m-0">
              Simplify web development with our HTML layouts. Clean, customizable templates for effortless creation of stunning websites.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- index section end -->

        <section class="nm-section">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="card-img-top">
              <img src="images/app/components.jpg" alt="demo" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}

{% block nmFooter %}
<footer>
  <h2>I'm footer</h2>
</footer>

{% endblock %}