{% extends "layouts/base.njk" %}


{% set pageTitle = "Homepage"%}
{% block nmHeader %}
<h2>I'm Header</h2>
  
{% endblock %}

{% block nmContent %}
    <h2>Homepage</h2>
    <img src="images/vite.svg" alt="">
{% endblock %}

{% block nmFooter %}
<footer>
  <h2>I'm footer</h2>
</footer>

{% endblock %}