html,
body {

  // // overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

}

body {
  min-width: 320px;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  font-family: $font-family-base;
}

ol,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

// typography
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $headings-color;
  font-weight: $headings-font-weight;
  font-family: $font-family-sans-serif;
}

h1,
.h1,
.fs-1 {
  line-height: 1.2;
  font-size: 30px !important;
}

h2,
.h2,
.fs-2 {
  line-height: 1.25;
  font-size: 24px !important;
}

h3,
.h3,
h4,
.h4 {
  line-height: 1.4;
}

h5,
.h5,
h6,
.h6 {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

// components
button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
}

div,
.card {
  &[data-bg-image] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

div,
.card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    &:nth-last-child(1) {
      margin-bottom: 0px;
    }
  }

  p {
    &:nth-last-child(1) {
      margin-bottom: 0px;
    }
  }
}

.nm-letter-space { 
  letter-spacing: 0.10em;
}



// .scroll-style { 

//     /* width */
//     &::-webkit-scrollbar {
//       height: 3.5px;
//     }

//     /* Track */
//     &::-webkit-scrollbar-track {
//       background: $gray-100; 
//     }
    
//     /* Handle */
//     &::-webkit-scrollbar-thumb {
//       background: var(--#{$prefix}gray-600); 
//       border-radius: var(--#{$prefix}border-radius);
//     }

//     /* Handle on hover */
//     &::-webkit-scrollbar-thumb:hover {
//       background: #0A1425; 
//     }
// }

@if $enable-dark-mode {


  @include color-mode(dark) {

    --#{$prefix}body-color: rgba(255, 255, 255, 0.8);

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      color: $white;
    }
  }
}
