<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="author-name">
    <meta name="theme-color" content="#6576FF"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle}}</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" crossorigin href="/src/styles/style.scss">
  </head>
  <body data-navbar-collapse="xl" class="{{bodyClass}}">
    
    <div class="nm-root">

      {% block nmHeader %}{% endblock %}

      {% block nmContent %}{% endblock %}

      {% block nmFooter %}{% endblock %}
    </div>
  </body>
</html>